<div ng-controller="historyController">
<div class="table-responsive">
    <table class="table table-hover custom-table">
        <tr ng-repeat="x in searches" ng-class="{success: x.found == true}">
            <td>{{ x.found  ? "Found" : "Searching"}}</td>
            <td>{{ x.seek }}</td>
            <td>{{ x.url }}</td>
            <td>{{ x.interval == 1440 ? "daily" : x.interval == 60 ? "hourly" : "10 minutes"}}</td>
            <td><button type="button" ng-click="select($index)" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-cog"></i>
                </button>
            </td>
        </tr>
    </table>
</div>
    <!-- * * * * * * * * * * * * * *  Modal * * * * * * * * * * * * * *   -->
    <div class="modal fade" data-backdrop="false" id="myModal" tabindex="-1" role="dialog" aria-labelledby="update-Search" style="top: 25%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="update-Search">Update search entry</h4>
                </div>
                <div class="modal-body">
                    <form class="form" role="form">
                        <div class="form-group">
                            <input type="url" class="form-control" ng-model="selectedSearch.url" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="selectedSearch.seek" required>
                        </div>
                        <label class="radio-inline">
                            <input type="radio" ng-model="selectedSearch.interval" value="10">10 Minutes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="selectedSearch.interval" value="60">hourly
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="selectedSearch.interval" value="1440">daily
                        </label>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="selectedSearch.found"> Found</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="selectedSearch.remove"> Delete</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" ng-click="dismiss()" ><i class="fa fa-ban"></i> Cancel</button>
                    <button class="btn btn-primary" ng-click="editSearch()" data-dismiss="modal"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
