<!DOCTYPE html>
<html ng-app="myapp">
    <head>
        <title>Search That Website</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gruppo" type="text/css">
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js"></script>

        <script src="javascripts/angularModule.js"></script>
        <script src="javascripts/loginController.js"></script>
        <script src="javascripts/searchController.js"></script>
        <script src="javascripts/historyController.js"></script>
        <script src="javascripts/navigationController.js"></script>
        <script src="javascripts/registrationController.js"></script>
    </head>
    <body ng-controller="navigationController">
        <div ng-include src="'navbar'"></div>
        <div class="banner">Humphrey</div>
        <div ng-include src="getContent()"></div>
	</body>
</html>
