<form role="form" ng-controller="searchController" class="search-form">
    <div class="row row-margin">
        <div class="col-md-4">
            <input type="url" class="form-control input" placeholder="Direct URL e.g. http://webpage.com/subpage" ng-model="formData.url" required>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input" placeholder="Search string" ng-model="formData.seek" required>
        </div>
        <div class="col-md-4">
            <input type="email" class="form-control input" placeholder="E-Mail" ng-model="formData.email" required>
        </div>
    </div>

    <label class="radio-inline">
        <input type="radio" ng-model="formData.interval" value="10">Every 10 minutes
    </label>

    <label class="radio-inline">
        <input type="radio" ng-model="formData.interval" value="60">hourly
    </label>

    <label class="radio-inline">
        <input type="radio" ng-model="formData.interval" value="1440">daily
    </label>
        <div>
            <button type="submit" class="btn btn-primary btn-lg button-margin" ng-click="insertSearch()"><i class="fa fa-search"></i> Search</button>
        </div>
	<!-- TODO: hide with ng-show -->
    <div class="alert {{getAlertBadge()}} alert-dismissible" role="alert" style="float:right;">
        <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        {{getAlertMessage()}}
    </div>
</form>
