@media only screen and (min-width : 1000px) {
	.h1, .jumbotron h2 {
    	font-size: 4em !important;
	}
	.jumbotron {
		padding-bottom: 3em !important;
	}
}

.gruppo {
	text-align: center;
	font-family: 'Gruppo';
}

.align-middle {
	width: 50%;
	margin: auto;
}

.custom-table {
	width: 80% !important;
	margin: auto;
	text-align: left;
}

.move-right {
	position: relative;
	left: 40px;
}

.move-down {
	position: relative;
	bottom: -80px;
}
