.banner {
	font-family: 'Gruppo';
	color: #777;
	margin-top: 10%;
	font-size: 100px;
	text-align: center;
}

.search-form {
	width: 75%;
	margin: auto;
	text-align: center;
}

.login-register-form {
	width: 50%;
	margin: auto;
	text-align: center;
}

.login-advice {
	width: 75%;
	margin: auto;
	text-align: center;
}

.custom-table {
	width: 80% !important;
	margin: auto;
}

.row-margin {
	margin-bottom: 3%;
}

.button-margin {
	margin-top: 3%;
}
