@media only screen and (min-width : 1000px) {
	.h1, .jumbotron h1 {
    	font-size: 7em !important;
	}
	.jumbotron {
		padding-bottom: 3em !important;
	}
}

.gruppo {
	text-align: center;
	font-family: 'Gruppo';
}

.align-middle {
	width: 90%;
	margin: auto;
}

.align-left {
	text-align: left;
}

.move-down {
	position: relative;
	bottom: -80px;
}